<div class="container">
  <div class="row">
    <div class="col-lg-12 centralizar ">
      <div class="card">
        <div class="card-body">
          <h3>Cadastro de produto</h3>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="name"
              class="form-control"
              [(ngModel)]="produto.productName"
            />
            <label mdbLabel class="form-label" for="name">Nome</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="number"
              id="price"
              class="form-control"
              [(ngModel)]="produto.productPrice"
            />
            <label mdbLabel class="form-label" for="price">Preço</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="status"
              class="form-control"
              [(ngModel)]="produto.productStatus"
            />
            <label mdbLabel class="form-label" for="status">Status</label>
          </mdb-form-control>
          <br />
          
          <div>
            @if (produto.category == null) {
              <button
            type="button"
            class="btn btn-primary"
            mdbRipple
            (click)="buscarCategorias()"
          >
            Buscar Categorias
          </button>
          }@else {
            <span class="text-primary">Categoria: {{produto.category.categoryName}}</span>
            <br>
            <button
              type="button"
              class="btn btn-warning"
              mdbRipple
              (click)="buscarCategorias()"
            >
              Trocar Categorias
            </button>
          }


          </div>
<br>
          <button
            type="button"
            class="btn btn-primary"
            mdbRipple
            (click)="save()"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #modalCategorias>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-categoriaslist [esconderbtn]="true" (retorno)="retornoCategoria($event)"></app-categoriaslist>
  </div>

</ng-template>

