@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar
{
  text-align: center;

}
.direita
{
  text-align: right;

}
.topo{
  top:30vh;
  position: relative;
}
body{
  background-color: aliceblue;
}
